
.form-group#address-group::before{
    content: "\f2bb";

}
.form-group#cnpj-group::before{
    content: "\f016";
  }
.container-footer-cadastroPJ{
    padding: 10px;
    font-size: 22px;
    justify-content:center;
    margin-top:5%;
    padding: 5px;
    text-align: center;
    color: white;
    }

