.signup{
    color: white;
    text-align: center;
    margin-top: 5px;
}

.container-footer-principal{
    padding: 10px;
    font-size: 22px;
    justify-content:center;
    margin-top:27%;
    padding: 5px;
    text-align: center;
    color: white;
    }

   