button{
    width: 80%;
    margin: 20px 5px 25px;
}
.container-footer-forgot {
    margin-top:18%;
    padding: 10px;
    font-size: 22px;
    justify-content:center;
    padding: 5px;
    text-align: center;
    color: white;
}