.navbar{
    float: right;
    transition:all;
    position:absolute;
}
.navbar a{
    color: white;
}


.carousel-inner{
    border-radius: 10px;
    border-style: groove;

}

.card{
  margin-top: 40%;
}


.container-footer-home{
    padding: 10px;
    font-size: 22px;
    justify-content:center;
    margin-top:5%;
    padding: 5px;
    text-align: center;
    color: white;
    }